.box{
    width: 70%;
    height: 150px;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 45px;
    padding-top: 60px;
}

.card{
    width: 35%;
    height: auto;
    border-radius: 12px;
    margin-top: 15px;
    float: left;
    margin: 2%; 
    text-align: center;  
}
